header {
    padding: 15px 6% 15px 0;
    margin-bottom: 30px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
  header h1 {
    color: var(--tertiary);
    background-color: var(--light);
    padding: 5px 1% 5px 1%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
  }