.self-image {
    width: 300px;
    height: 300px;
    display: inline-flex;
    background-image: url("../images/self-image.jpg");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: 100%;
    }